    @font-face{
        font-family: 'arimo';
        src: url(font/Arimo-Italic-VariableFont_wght.ttf) format('woff2');
        src: url(font/Arimo-VariableFont_wght.ttf) format('truetype');
    }
    body{
    font-family: 'arimo', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 15px; 
    }

    img{
    max-width: 100%;
    }

    .grid{
    display: grid;
    grid-template-columns: auto 1fr;
    gap:5px;
    }
    
    .nav a{
    display: block;
    text-decoration: none;
    color:rgb(255, 255, 255);
    }

    .nav a:hover{
    color: orangered;
    }
    
    .nav {
    display: block;
    position:fixed;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    min-width: 15%;
    margin-right: 80%;
    margin-left: 5px;
    padding: 20px;

    
    }
    .content{
    display: grid;
    background-color: rgb(0, 0, 0);
    border-radius: 5px; 
    max-width: 85%;
    margin-left: 20%;
    margin-right: 5px; 
    padding: 20px;
    grid-template-columns: 2fr 2fr 2fr ;
    gap:10px;
    block-size: auto;
    text-decoration: none;
    }

    @media(max-width:400px) {
    .nav{
        display: block;
        position: fixed;
        margin-right: 5px;
        margin-left: 5px;


    }
    .content{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 400x;

    }
        
    }
    @media(max-width:800px){
    .nav{
        display: block;
        position: fixed;
        
    }
    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    }
    @media(max-width:1280){
    .nav{
        display: block;
        position: fixed;
    }
    .content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
    }
